@font-face {
    font-family: overspray;
    src: url(Overspray.ttf);
}
  
  @font-face {
    font-family: highwaygothic;
    src: url(HWYGOTH.ttf);
}



#intro {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
    background-color: white;
    background: repeating-linear-gradient(
    to right,
  rgba(255,255,255,0.9),
  rgba(255,255,255,0.9) 60px,
  rgba(0,0,0,0.1) 60px,
  rgba(0,0,0,0.1) 80px
);
    font-family: overspray;
    color: brown;
}


h3 {
    text-align: center;
    padding-bottom: 10px;
    background-color: orange; 
    font-family: overspray;
    color:brown;
}

.flex-container {
    display: flex;
  }

#scrolly {
    position: relative;
    padding: 1rem;
}

article {
    position: relative;
    padding: 0;
    max-width: 20rem;
    margin: 0 auto;
}



#infoSVG {

    padding-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    width: 1300px;
    height:350px;
    /*background-color: darkmagenta;*/
}

#line{
    stroke:white;
}

#labels{

    font-family: overspray;
    font-size:x-large;
    fill:white;
}

main {
    background-color: rgba(0,0,0,0.8);
    height:auto;
    width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:rgba(0,0,0,0.8);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
}

figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    height: 600px !important; /*Overridding scrollama*/
    top: 50px !important; /*Overridding scrollama*/
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}

figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: orange;
}

.step {
    margin: 0 auto 2rem auto;
    color: #fff;
    background-color: rgba(0,0,0,0.1)
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active p {
    background-color: goldenrod;
    color: #3b3b3b;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #3b3b3b;
}
